.rules {

  line, path {
    shape-rendering: crispEdges;
    stroke: #ccc;
  }

  .minor {
    stroke-dasharray: 2 2;
  }

  .domain {
    fill: none;
  }
}

.grid {

  .tick line {
    stroke: #ccc;
    stroke-width: 1px;
  }

}

.labels {
  .tick {
    color: #ccc;
  }
  .days {
    font-size: 20px;
  }
}
