$c6_color: #c6c6c6;

$tableHeaderFrom: #41b0ef;
$tableHeaderTo : #2f80c8;

//login
$formWidth: 240px;
$loginRadialBgInnerColor: #fa8646;
$loginRadialBgOuterColor: #da4d00;

$loginButtonStartColor: #e8671f;
$loginButtonEndColor: $loginRadialBgOuterColor;
