@import "variables";
@import "../components/sass-bootstrap/lib/_mixins";
@import "layout";
@import "grid";
@import "utils";
@import "login";
@import "navbar";
@import "footer";
@import "responsive";
@import "debug";

html, body, .appContainer {
  height: 100%;
}

body {
  font-family: "ff-meta-web-pro", "Helvetica", "Arial", "sans-serif";
}

table {
  &.-with-2-cols {
    td {
      width: 50%;
    }
  }
}

.table {
  thead {
    @include gradient-vertical($tableHeaderFrom, $tableHeaderTo);
    color: white;
  }

  tbody {
    color: #666;
  }
  .odd {
    background-color: rgba(0,255,255,0.07); //cyan 0.07
  }
  tr:last-child td {
    border-bottom: 1px solid #ddd;
  }

  th:first-child,
  td:first-child {
    padding-left: 23px;
    padding-right: 25px;
  }
}

.section-header {
  color: $blueColor;
  margin-bottom: 34px;
}

.sub-section-header {
  color: $orangeColor;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;

  &.-with-icon {
    position: relative;
    padding-left: 2rem;
  }

  .icon-arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 17px;
  }
}


.icon-arrow {
  background-image: url('images/sprite.png');
  background-position: 0 0;
}

.delimiter {
  background-image: url('images/backgrounds.png');
  background-position: 0 0;
  height: 7px;
  background-repeat: repeat-x;
  border: none;
  margin-top: 47px;
  margin-bottom: 45px;
}

.legendWrap {
  text-transform: uppercase;
  font-family: Arial;
  font-size: 12px;
}

.headerRow {
  background-color: $orangeColor;
  color: white;
  h3 {
    font-weight: normal;
    line-height: 16px;
  }
}

h3 {
  padding: 0 0 3px 0;
}

// horizontal list

table.center {

  width: 100%;
  margin: 0;

  td {
    div {
      text-align: center;
    }
  }
}

.client-data {
  .center {
    td {
      border-left: 1px solid #c0bebf;
      line-height: 30px;

      &:first-child {
        border: none;
      }

      .title {
        color: $blueColor;
        font-size: 1rem;
      }

      .num {
        color: $orangeColor;
        font-size: 2rem;
      }
    }
  }

}

.dataSection {
  background-color: #f9f9f9;
  border-top: 2px solid $blueColor;

  .controls {
    text-align: center;

    .inline {
      display: inline-block;
      margin-top: 0.3rem;

      li {
        padding: 0;
        margin-left: 38px;
      }

      li:first-child {
        margin-left: 0;
      }
    }

  }
}

.divider-right {
  border-right: 1px solid $c6_color;
  margin-right: -1px;
}

.greeting-area {
  line-height: 35px;
}

.graphType {
  width: 140px;
}
.graphType-block {
  margin-left: 117px;
}

.text-blue {
  color: $blueColor;
}

.text-orange {
  color: $orangeColor;
}

.modal {
  width: auto;
  border-width: 13px;
  border-color: $orangeColor;
  padding: 15px 23px 27px 23px;

  input {
    color: $orangeColor;
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    color: #005ba0;
  }


  .ui-widget-header,
  .ui-state-default,
  .ui-widget-content,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    background: none;
    border-color: white;
    font-weight: normal;
  }

  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-widget-header .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus,
  .ui-widget-header .ui-state-focus {
    color: white;
    border-color: #0073ea;
    background: $blueColor url("../components/jquery-ui/themes/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png") 50% 50% repeat-x;
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    color: $orangeColor;
  }

  .ui-state-disabled,
  .ui-state-disabled .ui-state-default,
  .ui-state-disabled .ui-state-default {
     @include opacity(50);
     color: #000;
  }

  .ui-widget-header {
    color: #4067a6;
    font-size: 1rem;
    font-weight: bold;
  }

  .inputs {
    padding-bottom: 10px;
  }

  .row-fluid .span5 {
    width: 46.425532%;
  }

  .calendar-divider {
    height: 270px;
    width: 1px;
    background-color: orange;
    margin: 20px 20px 0 20px;
  }
}


/*
  integrations guides
*/

@for $i from 1 through 3 {
    .title#{$i} {
      font-weight: normal;
    }
}

.title1,
.title2 {
  margin-top: 0;
  margin-bottom: 0;
}

.title1 {
  color: $orangeColor;
  line-height: 24px;
}

.title2 {
  color: $blueColor;
}

.toggleMenu {

  .menuItem,
  .submenu-body {
    padding-left: 1.375rem;
  }

  .submenu-body span {
    cursor: pointer;
  }

  .menuItem {
    color: $grayShade_63;
    position: relative;
    cursor: pointer;

    .icon-arrow {
      position: absolute;
      left:0;
    }
  }

  .active {
    color: $orangeColor;
    cursor: default;

    span {
      cursor: default;
    }

    .icon-arrow {
      background-position: -16px -16px;
    }
  }

  .submenu {
    .active {
      .icon-arrow {
        background-position: -32px -16px;
      }
    }
  }

  .icon-arrow {
    background-image: url("images/sprite.png");
    width: 16px;
    height: 16px;
    background-position: 0 -16px;
  }

  .active > span {
    color: $blueColor;
  }

}


.gradientHeader {
  @include gradient-vertical($tableHeaderFrom, $tableHeaderTo);
  padding-left: 23px;

  .title3 {
    color: white;
    margin: 0;
    line-height: 36px;
    padding-bottom: 3px;
  }
}

.scriptBlock {
  @include gradient-vertical(white, #f0f0f0);
  color: #666;
  padding: 20px;
  font-family: "Courier";

}

.descriptionTable {
  thead {
    background: none;
    color: $blueColor;

    th {
      text-transform: uppercase;
      font-size: 1rem;
      border-bottom: 2px solid $blueColor;
    }
  }

  td:first-child {
    color: $blueColor;
  }
}


.subNavigation {
  a {
    color: $grayShade_63;
  }
  .active {
    color: $orangeColor;
    .divider {
      color: $grayShade_63;
    }
  }
}

.no-data {
  text-anchor: middle;
}
