<section class="footer" ng-controller="FooterCtrl">
  <div class="sj-row">
      <div class="padding-t-1">
        <div class="sj-col">
          <ul class="inline">
            <li><a href="http://www.ZZZ.com/tos.php" target="_blank">Terms of Use</a></li>
            <li><a href="http://www.ZZZ.com/privacy.php" target="_blank">Privacy Policy</a></li>
            <li><a href="http://www.ZZZ.com/contact.php" target="_blank">Contact Us</a></li>
          </ul>
        </div>
        <div class="sj-col copyright text-right">&copy; {{currentYear}} ZZZ. All Rights Reserved.</div>
      </div>
  </div>
</section>
